.sizeBtn{
    width: 31%;
    font-size: 200%;
}

#value{
    font-size: 170%;
    color: #471505;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#iconDelete{
    font-size: 200%;
}

.footerCalculadora{
    text-align: center;
    ion-button{
        font-size: 130%;
    }
}

#salarioLiquido{
    font-style: italic;
    font-size: 120%;
}