<ion-header>
  <ion-toolbar id="toolbar">
    <ion-title>
      Salário Líquido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="cardValores" id="cardValores">

  <ion-item (click)="mostrarCalculadora('salarioBruto')">
    <ion-input  id="salarioBruto" [(ngModel)]="salarioBruto" type="text" placeHolder="Digite o Salário Bruto" readonly></ion-input>
  </ion-item>
  
  <ion-item (click)="mostrarCalculadora('pensaoAlimenticia')">
      <ion-input id="pensaoAlimenticia" [(ngModel)]="pensaoAlimenticia" type="text" placeHolder="Pensão Alimentícia" readonly></ion-input>
  </ion-item>

  <ion-item (click)="mostrarCalculadora('planoSaude')">
      <ion-input id="planoSaude" [(ngModel)]="planoSaude" type="text" placeHolder="Plano de Saúde" readonly></ion-input>
  </ion-item>

  <ion-item (click)="mostrarCalculadora('outrosDescontos')">
      <ion-input id="outrosDescontos" [(ngModel)]="outrosDescontos" type="text" placeHolder="Outros Descontos" readonly></ion-input>
  </ion-item>
  
  <ion-list>
    <ion-list-header>
        Desconto Vale Transporte
    </ion-list-header>
    <ion-radio-group [(ngModel)]="valor">
      <ion-item>
        <ion-label>Sem Desconto</ion-label>
        <ion-radio color="success" value="semDesconto"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>6%</ion-label>
        <ion-radio color="danger" value="6"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-item>
    <ion-label>Marque se deseja calcular hora extra</ion-label>
    <ion-checkbox [(ngModel)]="flagHoraExtra" (ionChange)="clickFlagHoraExtra()" value="marcado" color="success" checked="false"></ion-checkbox>
  </ion-item>

  <div id="divHoraExtra">
    <ion-item (click)="mostrarCalculadora('jornadaMensal')">
      <ion-input color="success" id="jornadaMensal" [(ngModel)]="jornadaMensal" type="text" placeHolder="Jornada Mensal (Horas)" readonly></ion-input>
    </ion-item>

    <ion-item (click)="mostrarCalculadora('adicionalHoraExtra')">
      <ion-input color="success" id="adicionalHoraExtra" [(ngModel)]="adicionalHoraExtra" type="text" placeHolder="Adicional de Hora Extra" readonly></ion-input>
    </ion-item>

    <ion-item (click)="mostrarCalculadora('numeroHoraExtra')">
      <ion-input color="success" id="numeroHoraExtra" [(ngModel)]="numeroHoraExtra" type="text" placeHolder="Número de Horas Extras" readonly></ion-input>
    </ion-item>
  </div>

  <ion-button color="success" class="btnCalcular" (click)="calcular(valor)" expand="block">Calcular</ion-button>

  <ion-button fill="outline" color="success" (click)="limpar()" expand="block">Limpar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="shareWhatsapp()"><ion-icon color="success" name="logo-whatsapp"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button (click)="shareFacebook()"><ion-icon color="primary" name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
