.cardValores{
    ion-input{
        font-size: 18px;
    }
    ion-list-header{
        font-size: 18px;
    }
}

#salarioBruto{
    color: #095528;
}

#pensaoAlimenticia, #planoSaude, #outrosDescontos{
    color: #471505;
}

#toolbar{
    padding-top: 10px;
}
