<ion-header>
  <ion-toolbar id="toolbar">
    <ion-title>
      Cálculo Salário Líquido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>R$</ion-label>
    <ion-input id="salarioBruto" [(ngModel)]="salarioBruto" type="number" placeHolder="Digite o Salário Bruto"></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label>R$</ion-label>
      <ion-input id="pensaoAlimenticia"  [(ngModel)]="pensaoAlimenticia" type="number" placeHolder="Pensão Alimentícia"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>R$</ion-label>
      <ion-input id="planoSaude"  [(ngModel)]="planoSaude" type="number" placeHolder="Plano de Saúde"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>R$</ion-label>
      <ion-input id="outrosDescontos"  [(ngModel)]="outrosDescontos" type="number" placeHolder="Outros Descontos"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
        Desconto Vale Transporte
    </ion-list-header>
    <ion-radio-group [(ngModel)]="valor">
      <ion-item>
        <ion-label>Sem Desconto</ion-label>
        <ion-radio color="success" value="semDesconto"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>6%</ion-label>
        <ion-radio color="success" value="6"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button color="success" (click)="calcular(salarioBruto, outrosDescontos, valor, planoSaude, pensaoAlimenticia)" expand="full">Calcular</ion-button>
  
  <ion-item color="medium">
    <ion-label stacked>Salário Líquido</ion-label>
  </ion-item>
  <ion-item>
    <i>
      <ion-label id="salarioLiquido"></ion-label>
    </i>
  </ion-item>

  <ion-item color="medium" >
    <ion-label stacked>INSS</ion-label>
    <ion-label id="percInss"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label id="inss"></ion-label>
  </ion-item>

  <ion-item color="medium">
    <ion-label stacked>Imposto de Renda</ion-label>
    <ion-label id="percIr"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label id="impostoDeRenda"></ion-label>
  </ion-item>

  <ion-item color="medium">
    <ion-label stacked>Total de Descontos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label id="totalDesconto"></ion-label>
  </ion-item>

  <ion-button color="success" (click)="limpar()" expand="full">Limpar</ion-button>

</ion-content>
